*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

.Product{
    display: flex;
    flex-direction: column;
    // border: 1px solid #5072A7;
    // border: 2px solid grey;
    // border: 1px solid lightblue;
    // background-color: rgb(232, 230, 230);
    width: 230px;
    padding:20px;
    border-radius: 5px;
    cursor: pointer;
    // background-color: rgba(0,0,0,0.2);
    background-color: rgb(239, 235, 235);

    .product-top{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        img{
            width: 100%;
            height: 200px;
        }
        .heart{
            display: flex;
            position: absolute;
            // border: 2px solid red;
            font-size: 28px;
            color: rgb(185, 182, 182);
            align-items: center;
            justify-content: center;
            background-color: white;
            color: black;
            padding: 5px;
            border-radius: 50%;
            left: 40%;
            transition: all .2s linear;

            &:hover{
                transform: scale(1.1);
                color: lightpink;
            }
        }
    }
    .product-bottom{
        display: flex;
        flex-direction: column;

        h2{
            // color: #6CB4EE;
            // color: #5072A7;
            // color: green;
            // color: lightgrey;
            color: black;
        }
        p{
            // color: black;
            color: darkgrey;
            color: black;
            font-size: 14px;
        }
        b{
            // color: black;
            color: darkgrey;
            color: rgba(0,0,0,0.8);
            font-weight:100;
            // color: #5072A7;
        }
        span{
            font-size: 13px;
            // color: black;
            color: lightgrey;
            color: black;
        }
    }
}

.used-time{
    margin-top: 5px;
}