*{
    margin: 0;
    padding: 0;
}

.header{
    // border: 2px solid black;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: rgba(0,0,0,0.7);
    font-size: 19px;
    margin-bottom: 70px;

    p{
        color: grey;
        font-size: 21px;
        text-align: center;
        font-weight: lighter;
    }
    .search-bar{
        display: flex;
        flex-direction: column;
        gap: 5px;

        input{
            padding: 10px 20px;
            border: 1px solid black;
            outline: none;
            border-radius: 5px;
        }
        .search-btn{
            border: none;
            outline: none;
            padding: 10px 0px;
            color: white;
            // background-color: black;
            // background:rgb(45, 138, 170);
            border-radius: 5px;
        }
    }
}