* {
    margin: 0;
    padding: 0;
  }
  .navbar-wrapper{
    position: relative;
    width: calc(100vw - 20px);
    position: sticky;
    // padding: 5px 0px;
    // background-color: rgb(235, 232, 232);
    // background-color: black;
    // background-color: rgba(0,0,0,0.8);
    background-color: rgb(235, 232, 232);
    top: 0;
    // height: 100px;
    z-index: 999;
    // background-color: black;
    // border: 2px solid red;
    // overflow-x: hidden;
    // display: flex;
  }
  
  .navbar {
    width: 100%;
    display: flex;
    // border: 1px solid black;
    align-items: center;
    justify-content: space-around;
    padding: 15px 0px;
    // background-color: black;
    // background-color: rgba(0,0,0,0.8);
    background-color: transparent;
    position: sticky;
    top: 0;
    // background-color: lightgray;
  }
  
  .left {
    display: flex;
    align-items: center;
    gap: 15px;

    .web-title{
      font-size: 24px;
      font-weight: 700;
    }
  
    a {
      // color: #1F305E;
      color: white;
      color: grey;
      // color: #5072A7;
      // color: black;
      margin-right: 20px;
      text-decoration: none;
    }
  
    .nav-options {
      display: flex;
      align-items: center;
      // color: #034694;
      // color: lightgrey;
      color: black;
      // color: #5072A7;
      gap: 2px;
      text-transform: uppercase;
  
      .AiOutlineArrowDown {
        color: grey;
        cursor: pointer;
      }
    }
    .first{
      // border: 1px solid red;
      font-weight: bolder;
      // color: #5072A7;
      // color: lightgrey;
      color: black;
      width: 120px;
    }
  }
  
  .right {
    display: flex;
    align-items: center;
    gap: 10px;
  
    .login {
      background-color: transparent;
      border: 1px solid black;
      // color: lightgrey;
      color: black;
      padding: 5px 10px;
      font-weight: bold;
      font-size: 15px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    .sell{
        padding: 5px 10px;
        // color:lightgrey;
        color: black;
        // background-color: pink;
        background-color: transparent;
        border: 1px solid black;
        outline: none;
        border-radius: 10px;
        cursor: pointer;
        font-weight: bolder;
        font-size: 15px;
        // border: 1px solid #5072A7;
    }
  }
  
  .mid {
    display: flex;
    border: 1px solid #1F305E;
    border-radius: 5px;
    width: 500px;
    align-items: center;
    justify-content: center;
    display: none;
  
    input {
      padding: 10px 20px;
      border: none;
      outline: none;
      width: 80%;
      color: grey;
    }
  }
  
  .dropmenu {
    position: absolute;
    // box-shadow: 5px 5px 5px lightgrey;
    color: grey;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 85px;
    bottom: -65px;
    transition: all .2s linear;
    opacity: 1;
    width: calc(100% - 170px);
    background-color: rgb(247, 245, 245);
    // background-color: white;
    min-height: 40px;
    // opacity: 0.7;
    // margin-bottom: 50px;
  }
  
  .dropmenu-hide {
    position: absolute;
    color: grey;
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 10px 85px;
    bottom: -65px;
    transition: all .2s linear;
    opacity: 1;
    width: calc(100% - 170px);
    background-color: rgb(247, 245, 245);
    height: 40px;
    // opacity: 0.7;
    // border: 2px solid red;
  }
  
  
  @media screen and (max-width:440px) {
    .navbar-wrapper{
        position: static;
        width: 100%;
    }
    .dropmenu{
        display: none;
    }
  }

  @media screen and (max-width:880px) {
    .mid{
        display: none;
    }
  }

  @media screen and (max-width:450px) {
    .navbar-wrapper{
      border-bottom: 1px solid lightgray;
      width: 100%;
    }
    .mid{
        display: none;
    }
    .dropmenu{
      display: none;
    }
    .dropmenu-hide{
      display: none;
    }
    .left{
      .web-title{
        font-size: 16px;
        // display: flex;
        // align-items: center;
        // border: 2px solid red;
      }
      .first{
        display: none;
      }
      .h{
        display: none;
      }
      .nav-options{
        font-size: 14px;
      }
    }
    .right{
      .login{
        font-size: 14px;
        padding: 2px;
      }
      .sell{
        font-size: 14px;
        padding: 2px;
      }
    }
  }

  .pp-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 30px;
    cursor: pointer;
  }