@import "@/styles/global.scss";

// other styles...

* {
    margin: 0;
    padding: 0;
}
.LABEL {
    background-color: rgb(241, 238, 238);
    background-color: black;
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 100px;
    display: flex;
    padding: 50px 0px;
    flex-direction: column;
    z-index: 999;

    .label-top {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 200px;
        margin-bottom: 40px;
        gap: 40px;

        .label-top-left {
            color: grey;
            color: rgba(0, 0, 0, 0.8);
            font-size: 39px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .label-top-right {
            color: black;
            width: 700px;
        }
    }

    .label-links {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0px;
        gap: 150px;

        .links {
            display: flex;
            flex-direction: column;
            gap: 10px;

            b {
                color: black;
            }

            span {
                color: grey;
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .LABEL {
        background-color: rgb(241, 238, 238);
        display: flex;
        padding: 30px 0px 0px 0px;
        flex-direction: column;
        z-index: 999;

        .label-top {
            padding: 0px 250px;
            display: flex;
            align-items: center;
            gap: 20px;
            display: none;

            .label-left {
                width: 300px;

                img {
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                }
            }

            .label-mid {
                border-right: 3px solid lightgrey;
                padding: 20px 20px;
                h1 {
                    color: #5072A7;
                }
            }
            .label-right {
                color: #5072A7;
                display: flex;
                flex-direction: column;
                gap: 10px;

                .platform {
                    display: flex;
                    gap: 10px;
                    align-items: center;

                    .AiFillAppstore {
                        font-size: 28px;
                        color: black;
                        cursor: pointer;
                    }
                    .AiFillApple {
                        font-size: 28px;
                        color: black;
                        cursor: pointer;
                    }
                }
            }
        }
        .label-bottom {
            background-color: #5072A7;
            height: 60px;
            margin-top: 20px;
        }

        .label-links {
            margin-top: 20px;
            display: flex;
            padding: 0px;
            gap: 30px;
            flex-direction: column;

            .links {
                display: flex;
                flex-direction: column;
                gap: 10px;

                b {
                    color: grey;
                }

                span {
                    color: grey;
                    cursor: pointer;
                }
            }
        }
    }
}
